[submodule "frontend"]
	path = frontend
	url = https://github.com/turbonemesis/heroku-polls-frontend.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/turbonemesis/heroku-polls-backend.git
	branch = master
